services:
  # This fails after the first run (role exists), doing it this way to avoid
  # having to share any volumes with the main postgres container.
  # Leave it here mostly as documentation.
  homeassistant_db_init:
    depends_on:
      postgres_db:
        condition: service_healthy
    networks: [main]
    image: postgres:latest@sha256:38d5c9d522037d8bf0864c9068e4df2f8a60127c6489ab06f98fdeda535560f9
    entrypoint: >
      sh -c "psql -c \"CREATE USER homeassistant WITH PASSWORD 'this-is-ha';\" &&
      psql -c \"CREATE DATABASE homeassistant_db WITH OWNER homeassistant ENCODING 'utf8' TEMPLATE template0;\""
    environment:
      - PGUSER=postgres
      - PGPASSWORD=this-is-a-very-secure-password
      - PGDATABASE=postgres
      - PGHOST=postgres_db
  homeassistant:
    networks: [main]
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable@sha256:dda88779889b09d5465b8bf0c69ba2a62f81b01ee74d943ebe31e3474ea7cbea
    volumes:
      - "{{ base_directory }}/homeassistant/config/:/config/"
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    ports:
      - target: 8123
        published: 8123
        protocol: tcp
      - target: 21063
        published: 21063
        protocol: tcp
      - target: 51827
        published: 51827
        protocol: tcp
      - target: 51827
        published: 51827
        protocol: udp
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.home_assistant.rule=HostRegexp(`homeassistant.{any:.+}`)"
      - "traefik.http.routers.home_assistant.entrypoints=websecure"
      - "traefik.http.routers.home_assistant.tls.certresolver=letsencrypt"
      - "traefik.http.services.home_assistant.loadbalancer.server.port=8123"
    depends_on:
      homeassistant_db_init:
        condition: service_started
  mdns-repeater:
    image: docker.io/angelnu/mdns_repeater@sha256:2255ce3e36c75fb6180850510d035db5f51142890b2e3e3ccc14d19b484fe750
    restart: unless-stopped
    environment:
      hostNIC: "eth0"
      dockerNIC: "hass"
    network_mode: host
  nodered:
    restart: unless-stopped
    image: docker.io/nodered/node-red:3.0.2-16@sha256:524316b9b84cb5bbfe006c117f3dad31ee806804b12e4b866047a65e2080e92d
    environment:
      TZ: UTC
    networks: [main]
    volumes:
      - "{{ base_directory }}/nodered:/data"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nodered.rule=HostRegexp(`nodered.{any:.+}`)"
      - "traefik.http.routers.nodered.entrypoints=websecure"
      - "traefik.http.routers.nodered.tls.certresolver=letsencrypt"
      - "traefik.http.services.nodered.loadbalancer.server.port=8123"
  pihole:
    container_name: pihole
    hostname: pihole
    image: docker.io/pihole/pihole:latest@sha256:9da1360c747715c41cf327580d2cc064f04776674afe317abd99cac70cd65e82
    networks: [main]
    ports:
      - '8053:80/tcp'
      - '8853:53/tcp'
      - '8853:53/udp'
      #- "67:67/udp"
    environment:
      TZ: 'Europe/Madrid'
      WEBPASSWORD: "{{ pihole_web_password }}"
      VIRTUAL_HOST: pihole.{{ public_domain }}
      VIRTUAL_PORT: 80
      DNSMASQ_LISTENING: all
      PIHOLE_INTERFACE: eth0
    # Volumes store your data between container upgrades
    volumes:
      - '{{ base_directory }}/pihole/pihole:/etc/pihole'
      - '{{ base_directory }}/pihole/dnsmasq.d:/etc/dnsmasq.d'
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pihole.rule=HostRegexp(`pihole.{any:.+}`)"
      - "traefik.http.routers.pihole.entrypoints=websecure"
      - "traefik.http.routers.pihole.tls.certresolver=letsencrypt"
      - "traefik.http.services.pihole.loadbalancer.server.port=80"
      ## TCP Routers/Service
      - "traefik.tcp.routers.pihole-dns-tcp.entrypoints=dns-tcp"
      - "traefik.tcp.routers.pihole-dns-tcp.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.pihole-dns-tcp.service=pihole-dns-tcp"
      - "traefik.tcp.services.pihole-dns-tcp.loadbalancer.server.port=53"

      ## TCP Routers/Service
      - "traefik.udp.routers.pihole-dns-udp.entrypoints=dns-udp"
      - "traefik.udp.routers.pihole-dns-udp.service=pihole-dns-udp"
      - "traefik.udp.services.pihole-dns-udp.loadbalancer.server.port=53"
networks:
  main:
    external: true
  wgnet:
    external: true